<!DOCTYPE html>
<html class="loginpage">
<head>
  <link rel="icon" href="mango.png">
  <title>Login Registration</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>
<body>
  <div class="center-align container">
    <div class='login-box'>
      <img class="logo" src="mango.png" alt="Operation Mango">
      <h2 class="logo-text">Operation Mango</h2>
      <% if ((typeof query.error != 'undefined') && (query.error) ) { %>
          <p class="errors">
          <%= query.error %>
          </p>
      <% } %>
      <form action="/sessions" method="post">
        <div class="input-field col s6">
          <input id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Login</button>

      </form>
      <br>
      <form action="/accounts/new" method="get">
        <button class="btn waves-effect waves-light"  type="submit">Create Account</button>
      </form>
    </div>
  </div>
</body>
</html>
