body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: whitesmoke; */
}
.scroll-table{
  overflow-y: scroll ;
  height: 150px ;
}

.box-new-users-right{
  display: inline-block;
  width: 50%;
}
.box-new-users-left{
  display: inline-block;
  width: 48%;
}
.main-title, .box-title{
  margin: 0 0 10px 0;
}


main {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5{
  color: #850000;
  margin: 0 0 0 0;
}
.custom-nav{
  height: 30px;
  background-color: #EF9A9A;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.custom-nav-text{
  margin: 5px 0 5px 100px;;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  color: white;

}
.main-container{
  margin: 0 0 0 100px;
}
.errors{
  color: red;
}

.container{
  width: 200px;
}
.logo-navbar{
  width: 60px;
  height: 60px;
  margin-left: 50px;
}
.login-box{
  width: 500px;
  height: 700px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
}

.registration-box{
  width: 500px;
  height: 700px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.registration-title{
  margin: 0 0 0 0;
}

.logo-text{
  margin-top: 0;
  color:#850000;
}

.logo{
  width: 200px;
  height: 200px;
}
.logo-create{
  width: 100px;
  height: 100px;
  margin: 0 0 0 0;
}

.loginpage{
  /* background-color: #FFCC22 ; */
   /* background-image: radial-gradient( white , white,  white); */
}
.logout{
  width: 40px;
  height: 40px;
  margin-right: 50px;
  vertical-align: center;
  margin-top: 10px;
}
.arrow{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.logo-nav-text{
  height: 100%;
  vertical-align: top;
  margin: 0 0 0 0 ;
  line-height: 64px;
  display: inline-block;
}

.nav-wrapper {
    /* background-color: #FFCC22 !important; */
    /* background-color: #D32F2F !important; */
    font-size: 14px;
    font-weight: bold;
    padding: 0 50px 0 50px;
  }

.btn{
  display: inline-block;
  background-color: #850000 !important;
}

.my-user-box{
  display: inline-block;
  margin: 0 0 0 0;
  background-color: whitesmoke;
  width: 30%;
  height: 500px;
  vertical-align: top;

}
.users-box{
  display: inline-block;
  margin: 0 0 0 100px;
  background-color: whitesmoke;
  width: 60%;
  height: 500px;
  vertical-align: top;

}
